* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main_box {
    background: url(camera\ css.jpg);
    height: 100vh;
    background-size: cover;
}

.btn_one  {
    color: white;
    font-size: 30px;
    font-weight: 700px;
    position: absolute;
    left: 16px;
    line-height: 60px;
    transition: all 0.2s linear; 
}

.sidebar_menu{
    position: fixed;
    left: -350px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.2s linear;
}

.sidebar_menu .logo {
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500px;
}

.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 14px 20px;
}

.sidebar_menu .menu i,a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .social_media {
    color: white;
    opacity: 0.5;
    position: absolute;
    left: 25%;
    bottom: 30px;
}

#check {
    display: none;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.btn_two:hover {
    font-size: 25px;
}

#check:checked ~ .sidebar_menu {
    left: 0;
}



.btn_two  {
    cursor: progress;
    color: grey;
    position: absolute;
    left: 260px;
    top: 15px;
    transition: all 0.2s linear;
}

.sidebar_menu .logo a {
    position: absolute;
    top: 15px;
    left: 10px;
    color: white;
    white-space: nowrap;
    font-size: 22px;
    
}
#check:checked ~ .btn_one i {
    opacity: 0;
}

